body {
    background: #141414;
    font-family: Arial;
    color: whitesmoke; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
    width: 625px;
    height: 297px;
    margin-left: 25%;
    margin-right: 7%;
    margin-top: 201px;
    background-color: #141414;
    padding-top: 10px;
    padding-left: 5px;
}

input {
    height: auto;
    width: 63%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
}



select {
    height: inherit;
    width: 63%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #232323;
    color: whitesmoke;
    text-align: center;
    border: none;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#limpbizcut {
    height: auto;
    width: auto;
    position: absolute;
    color: white;
    background-color: slategray;
}

input[type=text]:focus {
    border-bottom-style: ridge;
    border-bottom-color: red;
    outline: none;
}

input[type=email]:focus {
    border-bottom-style: ridge;
    border-bottom-color: red;
}

input[type=password]:focus {
    border-bottom-style: ridge;
    border-bottom-color: red;
}

input[type=radio] {
}

button, #signup {
    margin-top: 10px;
    width: 30%;
    position: relative;
    margin-left: 220px;
    background-color: #5a5a5a;
    color: ghostwhite;
    height: 30px;
    border: none;
}

input[id=signup] {
    float: none;
}

button:hover {
    background-color: goldenrod;
    color: black;
}

#signup:hover {
    background-color: goldenrod;
    color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 360px;
    background-color: darkgoldenrod;
    outline-color: ghostwhite;
    height: 5px;
    width: 5px;
    margin-top: 13px;
    margin-left: 5px;
    float: right;
}


    .tooltip .ptext {
        visibility: hidden;
        width: 130px;
        background-color: #555;
        color: #232323;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

.input .ptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.tooltip:hover .ptext {
    visibility: visible;
    opacity: 1;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

fieldset {
    padding-right: 9px;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 37px;
    width: 278px;
    margin-top: 3px;
    display: inline-block;
    border: none;
    text-align-last: center;
    background-color: #232323
}



label {
    cursor: pointer;
}

#check {
    background-color: #232323;
    width: 63%;
    text-align: center;
    resize: horizontal;
}

details {
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    width: 95%;
}

#men, #women {
    display: inline;
    margin-top: 5px;
    text-align: center;
}

summary {
    background-color: #232323;
}
}
